<div class="scf-project" data-component-id="{{id}}" data-scf-component="social/samples/components/tasks/project">
    <span class="scf-project-item-title scf-link" evt="mouseenter=showToolBar,mouseleave=hideToolBar">{{title}}
	    {{include this template="tools"}}
    </span>
    <span class="scf-project-item-description">{{description</span>
    <span class="scf-project-item-owner">{{owner.name}}</span>
    <img class="scf-project-item-owner-img scf-comment-avatar" src = "{{owner.avatarUrl}}" />
    <br style="clear: both;" />
    the
</div>
